REACT_APP_DASHBOARD_API=http://dashboard.myplatform.local:5001
REACT_APP_LOGIN_URL=http://app.myplatform.local:3001/login
REACT_APP_AUTH_API=http://app.myplatform.local:4000
REACT_APP_STORE_URL=http://store.myplatform.local:3003
REACT_APP_MAIN_APP_HOME_URL=http://app.myplatform.local:3001/home
