REACT_APP_STORE_API=http://store.myplatform.local:5002
REACT_APP_LOGIN_URL=http://app.myplatform.local:3001/login
REACT_APP_AUTH_API=http://app.myplatform.local:4000
REACT_APP_DASHBOARD_URL=http://dashboard.myplatform.local:3002
REACT_APP_MAIN_APP_HOME_URL=http://app.myplatform.local:3001/home
