PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/myplatform
COOKIE_NAME=myplatform_sid
COOKIE_DOMAIN=.myplatform.local
SESSION_TTL_MINUTES=120
APP_ORIGIN=http://app.myplatform.local:3001
DASHBOARD_ORIGIN=http://dashboard.myplatform.local:3002
STORE_ORIGIN=http://store.myplatform.local:3003
